<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Applivery SOAR Agent" Language="1033" Version="1.0.0.0" Manufacturer="Applivery" UpgradeCode="B54A32D1-5C6D-4E90-8A7B-91C732F5D1A2">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of Applivery SOAR Agent is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Applivery Agent" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="Applivery SOAR Agent" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="AgentExecutable" Guid="*" Win64="yes">
                <File Id="AgentExe" Source="Applivery-SOAR-Agent.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>